footer {
    background: #bebebe;
}

.foot-conteiner {
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.footer-description {
    margin-left: 40px;
}
.footer-icons {
    margin-left: 40px;
    font-size: 16px;
    margin-top: -2px;
    margin-right: 40px;
}
img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
